header {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
nav ul {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}

ul li{
    list-style-type: none;
    padding: 10px;   
}

.error {
    color: red;
}

.success {
    color: green;
}