{% extends "layout.html" %}

{% block title %}
    Create Deck
{% endblock %}

{% block main %}
    <div>
        <form action="/add_deck" method="post">
            <fieldset>
                <legend>Deck:</legend>
                <input type="text" name="name" placeholder="Name" required>
                <textarea name="description" placeholder="Description"></textarea> 
                <input type="number" id="num_of_cards" name="num_of_cards" value="1" min = 1 max =10 hidden>
            </fieldset>
            <fieldset id="cards" >
                <legend>Cards:</legend> 
                <div>   
                    <textarea name="question1" placeholder = "Question 1"></textarea>
                    <textarea name="answer1" placeholder = "Answer 1"></textarea>
                </div>
            </fieldset>
            <div>
                <button type="button" onclick="addCards()">Add Another Card</button>
                <button type="submit">Create Deck</button>
            </div>
        </form>
    </div>
{% endblock %}